{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div id="welcome">
            <p></p>
            <h3 class="text-center">Aanbod</h3>
        </div>
        <p></p>
        <h5 class="text-center">onze vechtsporten</h5>
        {#<div class="mx-auto">#}
        <div class="row">
            <div class="card col-md-3 mx-auto">
                <img class="card-img-top" src="{{ asset('boksing icon.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Boksen</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card col-md-3 mx-auto">
                <img class="card-img-top" src="{{ asset('kung fu1.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Kung Fu</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card col-md-3 mx-auto">
                <img class="card-img-top" src="{{ asset('MMa icon.jpg') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MMA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        {#</div>#}
        <p></p>

    </div>
{% endblock %}