{% extends 'base.html.twig' %}
{% block body %}

    {% if error is defined %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <table>
            <tr>
                <td>gebruikersnaam:</td>
                <td>
                    <input type="text" autocomplete="off" id="_username" name="_username" placeholder="vul uw gebruikersnaam in">
                </td>
            </tr>
            <tr>
                <td>wachtwoord:</td>
                <td>
                    <input type="password" autocomplete="off" id="password" name="_password" placeholder="vul uw wachtwoord in">
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <input type="submit" value="inloggen"><input type="reset" value="reset" />
                </td>
            </tr>

        </table>
    </form>
{% endblock %}