{% extends 'base.html.twig' %}
{% block body %}
    <form action="action_page.php">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
        <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="username"><b>username</b></label>
            <input type="text" placeholder="Enter username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="naam"><b>naam</b></label>
            <input type="text" placeholder="Enter naam" name="naam" required>

            <label for="achternaam"><b>achternaam</b></label>
            <input type="text" placeholder="Enter achternaam" name="achternaam" required>

            <button type="submit" class="registerbtn">Register</button>
        </div>
    </form>
{% endblock %}